
nav{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
}

.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: none;
}
.nav-links li a:hover {
    color: #61DAFB;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    bottom: -30%;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    color: #f2f5f7;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.main-content {
    width: 80%;
    min-height: 800px;
    margin: 5px auto;
    background: #D8D9DA;
    padding-top: 20px;
}

body {
    background: #61677A;
}

.main-content a {
    color: #068FFF;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 1s ease;
}


.main-content a:hover {
    color: #0d0f10;
    transition: color 1s ease;
}

h1 {
    text-align: center;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-form {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.form-header,
.my-form p {
  margin-top: 0;
  margin-bottom: 0;
}

.form-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.form-container {
  background: #D8D9DA;
  padding: 12px;
}

.my-form p {
  padding: 12px;
}

.my-form input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}


.my-form input[type="text"],
.my-form input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.my-form input[type="text"]:focus,
.my-form input[type="password"]:focus {
  border-color: #888;
}

.my-form input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.my-form input[type="submit"]:hover {
  background: #17c;
}

.my-form input[type="submit"]:focus {
  border-color: #05a;
}

