{% extends 'base.html' %}
{% block content %}
   <h1>{{ groupstage.name }}</h1>
<table>
  <thead>
    <tr>
      <th>Drużyna</th>
      <th>Punkty</th>
      <th>Gole zdobyte</th>
      <th>Gole stracone</th>
      <th>Różnica bramek</th>
    </tr>
  </thead>
  <tbody>
    {% for team, item in group_data %}
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ item.points }}</td>
        <td>{{ item.goals_scored }}</td>
        <td>{{ item.goals_conceded }}</td>
        <td>{{ item.goal_difference }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>






    Nierozegrane Mecze:
    <ul id="list">
    {% for match in groupstage.matches.all %}
    	<li><a href="{% url 'tournament:match_detail' match.id %}">
            {{ match.team1 }} vs {{ match.team2 }}</a></li>
    {% endfor %}

    </ul>
    {% if groupstage.matches_finished.exists %}
    Rozegrane Mecze
    <ul id="list">
    {% for match in groupstage.matches_finished.all %}
    	<li><a href="{% url 'tournament:match_detail' match.id %}">
            {{ match.team1 }} vs {{ match.team2 }}</a> {{ match.team1_score }} : {{ match.team2_score }}</li>
    {% endfor %}

    </ul>
    {% endif %}


{% endblock %}