{% extends 'base.html' %}
{% block content %}
    <p>Turniej {{ match.tournament.name}}</p>
    <p><a href="{% url "tournament:team_detail" match.team1.id %}">{{ match.team1 }}</a> vs
        <a href="{% url "tournament:team_detail" match.team2.id %}">{{ match.team2 }}</a></p>
    <p>Wynik {% if match.team1_score and match.team2_score %}{{ match.team1_score}}:{{ match.team2_score}}{% else %}
        Mecz nie został jeszcze rozegrany
        {% if user == match.tournament.tournament_admin %}
   <a href="{% url 'tournament:match_update_result' match.id %}">Dodaj wynik</a>
  {% endif %}{% endif %}
    <p>strzelcy bramek:</p>
    <ul>
    {% for goal in match.scorers_set.all %}
    	<li>{{ goal.scorer.username }} - {{ goal.minute }}min
        {% if user == match.tournament.tournament_admin %}
            <a href="{% url 'tournament:match_delete_scorers' goal.id %}">Usuń Strzelca</a>
        {% endif %}
        </li>
    {% endfor %}
    {% if user == match.tournament.tournament_admin %}
        <a href="{% url 'tournament:match_update_scorers' match.id %}">Dodaj strzelca</a>{% endif %}
    </ul>
    <p>Data meczu : {{ match.match_date }} {% if user == match.tournament.tournament_admin %}
        {% if not match.match_date %}
        <a href="{% url 'tournament:match_update_date' match.id %}">Ustaw date</a>
        {% else %}
        <a href="{% url 'tournament:match_update_date' match.id %}">Zmien Datę</a>
    {% endif %} </p>
    {% endif %}


{% endblock %}