{% extends 'base.html' %}
{% block content %}
<div class="centre-that">Nazwa Turnieju: {{ tournament.name }}</div><br>
{% if not tournament.phases_drawn and tournament.max_teams_amount > tournament.teams.count %}
    <div class="my-button-container"><button class="my-button">
        <a href="{% url 'tournament:tournament_join' tournament.id %}">
        Dołącz do Turnieju</a></button></div>
{% endif %}
    Drużyny:
    <ul id="list">
    {% for team in tournament.teams.all %}
        <li><a href="{% url 'tournament:team_detail' team.id %}">{{ team }}</a></li>
    {% endfor %}
    </ul>
      {% if user == tournament.tournament_admin %}
          <div class="my-button-container"><button class="my-button-edit">
   <a href="{% url 'tournament:tournament_update' tournament.id %}">Edytuj</a>
          </button>
          <button class="my-button-delete">
      <a href="{% url 'tournament:tournament_delete' tournament.id %}">Usuń</a>
          </button></div>
          {% if not tournament.phases_drawn %}
              <div class="my-button-container"><button class="my-button-start">
          	<a href="{% url 'tournament:tournament_start' tournament.id %}">Rozpocznij Turniej</a>
              </button></div>{% endif %}

          {% endif %} 
          {% if tournament.groupstage_set.exists %}
          	<h3>Grupy:</h3>
          <ul id="list">
          {% for group in tournament.groupstage_set.all %}
          	<li>
            <a href="{% url 'tournament:groupstage_detail' group.id %}">{{ group.name }}</a>
            </li>
          {% endfor %}
              </ul>
          {% endif %}

          {% if tournament.playoff %}
              <a href="{% url 'tournament:playoff_detail' tournament.playoff.id %}">Playoff</a>

          {% endif %}


{% endblock %}
