{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}"/>
    <script src="{% static 'js/navbar.js' %}" async defer></script>
    <title>Responsive Animated Navbar</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="logo.svg" alt="Logo Image">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="{% url "tournament:tournament_list" %}">Turnieje</a></li>
            <li><a href="{% url "tournament:team_list" %}">Drużyny</a></li>
            <li><a href="{% url 'accounts:user_list' %}">Użytkownicy</a></li>
            {% if user.is_authenticated %}
                <li><button id='profile-button' class="login-button">Profil</button></li>
            <li><button id='logout-button' class="join-button">Wyloguj Się</button></li>
            {% else %}
            <li><button id='login' class="login-button">Logowanie</button></li>
            <li><button id='register' class="join-button">Rejestracja</button></li>
            {% endif %}
        </ul>
    </nav>
    <div class="main-content">
    {% block content %}
    {% endblock content %}
    </div>

</body>
</html>
